{{> menu id="about"}}

<section class="ui two column grid segment">
  <section class="column">

    <section class="ui center aligned middle aligned stacked segment">
      <h2 class="ui header">Welcome to the WeatherTop app</h2>
      <p>
        This site is used to coalate all information from your various WeatherTop devices.
      </p>
      <p>
        To get started all you need to do is access your <a id="dashboard" class="item" href="/dashboard"> dashboard</a>
        and create your first station. Once you have your first station created you can start entering
        readings.
      </p>
      <p>
        You will notice that there is a summary of the latest reading displayed within the station page, this will also
        be visible on the main dashboard page to provide a summary of each station you are tracking. When you have
        three readings within the station, analytic will start to display on the temperature, wind, and pressure summaries.
      </p>

      <p>
        We hope you enjoy your WeatherTop product. If you require any assistance please get in touch with our
        <a href="mailto:support@weathertop.ie">support team</a>.
      </p>

    </section>
  </section>
  <section class="column">
    <img src="/images/station.webp" class="ui fluid image">
  </section>
</section>