{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <section class="ui center aligned middle aligned segment">
    <h1 class="ui header">
      Welcome to WeatherTop
    </h1>
    <p>
      If you have already purchased a WeatherTop device, please <a id="signup" class="item" href="/signup">create an
      account</a>
      to get started.
    </p>

    <p>
      If you wish to purchase a new WeatherTop device please contact our <a href="mailto:sales@weathertop.ie">sales
      team</a>.
    </p>

    <section class="ui two column grid stacked segment">
      <section class="column ui center aligned middle aligned">
        <h3 class="ui header">Dashboards</h3>
        <p>Create a custom dashboard to view all of your latest station readings at a glance</p>
      </section>

      <section class="column">
        <img src="/images/dashboard_example.png" class="ui image fluid">

      </section>
    </section>

    <section class="ui two column grid stacked segment">
      <section class="column">
        <img src="/images/station_example.png" class="ui image fluid">
      </section>

      <section class="column ui center aligned middle aligned">
        <h3 class="ui header">Stations</h3>
        <p>Keep track of all your station readings. Organised chronologically you can track the entire history
          of your station
        </p>
      </section>
    </section>

    <section class="ui two column grid stacked segment">
      <section class="column ui center aligned middle aligned">
        <h3 class="ui header">Analytics</h3>
        <p>View the current trends across your temperature, wind, and pressure readings</p>
      </section>

      <section class="column">
        <img src="/images/analytics.png" class="ui image fluid">

      </section>
    </section>
  </section>
