{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{> stationsummary}}
  </h2>
  {{> listreadings}}
  {{> addreading}}


  <form class="ui stacked segment form" action="/station/{{station.id}}/addreport" method="POST">
    <button class="ui green submit button">Generate Report</button>
  </form>


</section>